header {
    display: inline-block;
    height: 200px;
    background-color:#1E90FF;
}
#info {
    position: relative;
    float: left;
    top: 50px;
}
#addKoala {
    text-align: center;
}
img {
    height: 200px;
    width: auto;
    padding-right: 20px;
    float: left;
    background-color:#1E90FF;
}
.formSection {
    padding: 20px;
    width: 25%;
    margin: 0 auto;
}
form {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}
input {
    border: none;
    border-bottom: 2px solid #888888;
    border-radius: 5px;
}
input:focus {
    box-shadow: none;
    outline: 0;
}
input::placeholder {
    text-align: center;
  }
.notChecked, select {
    width: 100%;
    padding: 5px;
    margin: 3px;
}

.tableSection {
    width: 80%;
    margin: 0 auto;
}
table {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.table-title {
    text-align: center;
}

tr, thead {
    border-bottom: 1px solid #888888;
}

tr:nth-child(even){
    background-color: lightgray;

}

.notes{
    text-align: left;
    margin-left: 50px;
}
button{
    margin-top: 10px;
    border-radius: 50%;
    text-align: center;
    height:25px;
}
#addButton {
    height: 30px;
}