

img {
    height: 250px;
    width: auto;
}

table {
    margin: 0 auto;
    width: 100%;
}

.table-title {
    text-align: center;
}

.main-container {
    margin: 6%;
}

.row {
    padding: 2%;
}

.notChecked, select {
    width: 100%;
    padding: 5px;
    margin: 3px;
}
form {
    box-shadow: 5px 8px 8px 5px #888888;
    width: 75%;
    padding: 5px;
    border-radius: 5px;
}
input {
    border: none;
    border-bottom: 2px solid #888888;
    border-radius: 5px;
}
input:focus {
    box-shadow: none;
}
input::placeholder {
    text-align: center;
  }


.notes {
    height: 
}